<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>    
	  <add key="connectionString" value="EDIConverter"/>	  
	  <add key="FILE_ROOT_DIR" value="D:\EDI Converter\EDI"/>    
	  <add key="POR_OUTPUT_FILE_EXTENSION" value="RCF"/>    
	  <add key="DO_OUTPUT_FILE_EXTENSION" value="SC"/>
    <add key="SOURCE_FILE_EXTENSION" value="XLS"/>
    <add key="PENDING_FILE_EXTENSION" value="PENDING"/>
    
    <!-- FTP Configurations-->
    <add key="AUTO_UPLOAD_FTP" value="false"/>
    <add key="FTP_USER" value="walker"/>
    <add key="FTP_PASSWORD" value="wr937125"/>
    <add key="FTP_POR_PATH" value="ftp://app.mrhkg.com/POReceipt/" />
    <add key="FTP_DO_PATH" value="ftp://app.mrhkg.com/SOConfirm/"/>
    
    <!-- FTP 重试次数， 防止网络不稳定-->
    <add key="FTP_RETRY_TIMES" value="5"/>
    
  </appSettings>

  <connectionStrings>    
	  <add name="EDIConverter"      
		   providerName="System.Data.SqlClient"         
		   connectionString="Initial Catalog=TEST;Data Source=192.168.12.37;User ID=sa;Password=lawson;"/>    
  </connectionStrings>
 
</configuration>